<div class="col-sm">
<div class="card-body">
        <h1 class="display-7" align="center" >Réponse API : </h1>
        <hr class="my-4">
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <div align="center">
                    <div class="form-label-group">
                        <div id='test'>
                            <p>Code réponse : {{ code }}</p>
                            <p>Type de réponse : {{ type }}</p>
                            <p>Contenu : </p>
                            
                            {% for content in contents %}
                                <br>
                                {% for item in content %}
                                    {% if item is not iterable  %}
                                        <p>{{ item }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>