{% extends "base.html.twig" %}
{% block title %}PostmanLike{% endblock %}

{% block body %}
    <header>
        {% include "pages/header.html.twig" %}
    </header>


    <div id='test'>
        {% for item in requests %}
            <li>{{ item.id }}</li>
        {% endfor %}
    </div>
{% endblock %}
