<div class="col-sm">
<div class="card-body">
        <h1 class="display-7" align="center" >Réponse API : </h1>
        <hr class="my-4">
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <div align="center">
                    <div class="form-label-group">
                        <div id='test'>     
                            <p>Page vide</p>                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>